@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --sl-text-h1: 2.2rem;
  --sl-text-h2: 1.6rem;
  --sl-text-h3: 1.3rem;

  --sl-color-accent-low: #430f09;
  --sl-color-accent: #c60f00;
  --sl-color-accent-high: #c60f00;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeed;
  --sl-color-gray-2: #c2c2c1;
  --sl-color-gray-3: #8b8b8a;
  --sl-color-gray-4: #585857;
  --sl-color-gray-5: #383837;
  --sl-color-gray-6: #272726;
  --sl-color-black: #181818;

  --sl-sidebar-width: 16rem;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #fdc9bf;
  --sl-color-accent: #c90f00;
  --sl-color-accent-high: #620702;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272726;
  --sl-color-gray-2: #383837;
  --sl-color-gray-3: #585857;
  --sl-color-gray-4: #8b8b8a;
  --sl-color-gray-5: #c2c2c1;
  --sl-color-gray-6: #eeeeed;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}

main {
  @media (min-width: 1152px) {
    padding-right: 2rem;
  }
}

.header {
  @media (min-width: 50rem) {
    grid-template-columns:
      calc(var(--sl-sidebar-width) - var(--sl-nav-pad-x) - var(--sl-nav-pad-x))
      1fr auto;
  }
}

.content-panel h1 {
  margin-top: 0.5rem;
  margin-bottom: -1rem;

  @media (min-width: 1152px) {
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
  }
}

.content-panel + .content-panel {
  border: none;
}

.content-panel .sl-container {
  margin: 0 auto;
}

.right-sidebar {
  border: none;

  @media (min-width: 1152px) {
    padding-top: 6rem;
  }
}
